header {
    background-color: maroon;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 10px 30px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
    list-style: none;
    padding: 10px 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
    color: blue;
}